h1{
    text-align: center;
    justify-content: center;

}
#newQuote{
    align-items: center;
    justify-content: center;
   box-sizing:border-box ;
    box-shadow: 0 2px 8px ;
    margin-left: 450px;

}